<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/cabecalho.ejs") %>
    <link href="/css/style.css" rel="stylesheet">
    <title>Site WEB III</title>
</head>
    <body>  
    <div class="container">
    <h1> ERRO 404 PAGINA NÃO ENCONTRADA!</h1>
    </div>
    <footer><%- include("partials/rodape.ejs") %></footer>
    </body>
</html>